extends ../layout
block content
	.container
		.row
			.col-md-7
				embed(src="#{movie.flash}",allowFullScreen="true",quality="high",width="600",height="480", align="middle",type="application/x-shockwave-flash")
			.col-md-5
				dl.dl-horizontal
					dt Movie Name
					dd #{movie.title}
					dt Director
					dd #{movie.director}
					dt Country
					dd #{movie.country}
					dt Language
					dd #{movie.language}
					dt Show Year
					dd #{movie.year}
					dt Summary
					dd #{movie.summary}
